.paginationControls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    button{
        max-width: 40px;
        
    }
}

.paginationCard{
    display: grid;
    min-width: 200px;
    grid-template-columns: auto;
    grid-template-rows: auto auto; 
    align-content: center;
    place-content: center;
}
